
/*GRID*/
.grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 5px 0px;
}

.grid-item {
    justify-items: center;
}

/*REGISTRATION FORM*/
.registrate {
    color: black;
    text-align: center;
    padding: 2% 4% ;
    margin: 60px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 2px;
  }

  button {
  border-radius: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  input {
    width: 100%;
  }

  input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password]:focus {
    border: 3px solid #000080;
  }
  input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email]:focus {
    border: 3px solid #000080;
  }
  